{% if list.actions | length > 0 or (list.additionalActionsTemplate is defined and list.additionalActionsTemplate) %}
    <td class="text-center" style="white-space: nowrap;">
        {% for action, actionParams in list.actions %}
            {% if action == 'edit' %}
                {% if actionParams %}
                    {% set editUrl = path(actionParams , {'id' :entity.id}) %}
                {% else %}
                    {% set editUrl = path(list.preFix~'edit_'~list.className|lower, {'id': entity.id}) %}
                {% endif %}

                <a class="dev-td-btn btn btn-default" href="{{ editUrl }}"><i data-popup="tooltip" title="{{ ('Edit')|trans}}" data-placement="right" class="icon-pencil"></i></a>
                {% endif %}

                {% if action == 'delete' %}
                    {% if actionParams %}
                        {% set deleteUrl = path(actionParams , {'id': entity.id}) %}
                    {% else %}
                        {% set deleteUrl = path(list.preFix~'delete_'~list.className|lower, {'entityId': entity.id}) %}
                    {% endif %}
                <a tabindex="0" {% if app.session.get('_locale') == 'en' %}data-placement="left"{% endif %} class="dev-td-btn btn btn-default" role="button" data-toggle="popover"  data-popup="popover" data-trigger="focus" title="{{('Delete One Confirmation')|trans({'%className%': list.className|lower|trans({}, list.translationDomain)})}}" data-html="true"
                   data-html="true" data-content="
                   <button type='button' class='btn btn-danger dev-delete-btn' data-url='{{deleteUrl}}'>{{('Yes')|trans}}</button>
                   <button type='button' class='btn btn-default'>{{('Cancel')|trans}}</button>
                   "><i class="icon-trash" data-popup="tooltip" title="{{('Delete')|trans}}" data-placement="right"></i></a>
                {% endif %}

                {% if action == 'activation' %}
                    {% if entity.getEnabled() %}
                        {% set activate = 'false' %}
                    {% else %}
                        {% set activate = 'true' %}
                    {% endif %}
                    {% if actionParams %}
                        {% set activationUrl = path(actionParams , {'entityId': entity.id, 'activate': activate}) %}
                    {% else %}
                        {% set activationUrl = path('activation_'~list.className|lower, {'entityId': entity.id, 'activate': activate }) %}
                    {% endif %}
                    <a tabindex="0" {% if app.session.get('_locale') == 'en' %}data-placement="left"{% endif %} class="dev-td-btn btn btn-default" role="button" data-toggle="popover"  data-popup="popover" data-trigger="focus" title="{% if activate == 'false' %}{{('Deactivate One Confirmation')|trans({'%className%': list.className|lower|trans({}, list.translationDomain)})}}{% else %}{{('Activate One Confirmation')|trans({'%className%': list.className|lower|trans({}, list.translationDomain)})}}{% endif %}" data-html="true"
                       data-html="true" data-content="
                       <button type='button' class='btn btn-danger dev-general-ajax-request-btn' data-url='{{activationUrl}}'>{{('Yes')|trans}}</button>
                       <button type='button' class='btn btn-default'>{{('Cancel')|trans}}</button>
                       "><i class="{% if activate == 'false' %}icon-user-block{% else %}icon-user-check{% endif %}" data-popup="tooltip" title="{% if activate == 'false' %}{{('Deactivate')|trans}}{% else %}{{('Activate')|trans}}{% endif %}" data-placement="right"></i></a>
                {% endif %}
                {% if action == 'view' %}
                <a class="btn btn-default" href="{{ path(actionParams , {'id': entity.id}) }}"  ><i class="icon-eye" data-popup="tooltip" title="{{ ('View')|trans}}" data-placement="bottom"></i></a>
                {% endif %}
        {% endfor %}

        {% if list.additionalActionsTemplate is defined and list.additionalActionsTemplate %}
            {{ include(list.additionalActionsTemplate, {'entity':entity}) }}
        {% endif %}
    </td>
{% elseif list.isSearchable %}
    <td></td>
{% endif %}