{% if list.actions | length > 0 or (list.additionalActionsTemplate is defined and list.additionalActionsTemplate) %}
    <td class="text-center" style="white-space: nowrap;">
        {% for action, actionParams in list.actions %}
            {% if action == 'edit' %}
                {% if actionParams %}
                    {% if actionParams is not iterable %}
                        {% set editUrl = path(actionParams , {'id' :entity.id}) %}
                    {% elseif actionParams.path is defined %}
                        {% set editUrl = path(actionParams.path , {'type': actionParams.type, 'id': entity.id}) %}
                    {% endif %}
                {% else %}
                    {% set editUrl = path('edit_'~list.className|lower, {'id': entity.id}) %}
                {% endif %}
                <a class="btn btn-default" href="{{ editUrl }}" data-popup="tooltip" title="{{ ('Edit')|trans}}" data-placement="bottom" ><i class="icon-pencil"></i></a>
            {% endif %}
                {% if action == 'delete' %}
                    {% if actionPath %}
                        {% set deleteUrl = path(actionPath , {'id': entity.id}) %}
                    {% else %}
                        {% set deleteUrl = path('delete_'~list.className|lower, {'entityId': entity.id}) %}
                    {% endif %}
                <a tabindex="0" {% if app.session.get('_locale') == 'en' %}data-placement="left"{% endif %} class="dev-td-btn btn btn-defualt" role="button" data-toggle="popover"  data-popup="popover" data-trigger="focus" title="{{('Delete One Confirmation')|trans({'%className%': list.className|lower|trans({}, list.translationDomain)})}}" data-html="true"
                   data-html="true" data-content="
                   <button type='button' class='btn btn-danger btn-block dev-delete-btn' data-url='{{deleteUrl}}'>{{('Yes')|trans}}</button>
                   <button type='button' class='btn btn-danger btn-block'>{{('Cancel')|trans}}</button>
                   "><i class="icon-trash"></i></a>
                {% endif %}

            {% if action == 'activation' %}
                <a tabindex="0" class="btn btn-defualt" role="button" data-toggle="popover"  data-popup="popover" data-trigger="focus" title="  هل ترغب في ايقاف الموظف  " data-html="true"
                   data-html="true" data-content="
                   <button type='button' class='btn btn-danger'>نعم</button>
                   <button type='button' class='btn btn-defualt'>الغاء</button>
                   "> <i class="icon-user-check"></i></a>
                {% endif %}
                {% if action == 'view' %}
                <a class="btn btn-defualt" href="{{ path(actionPath , {'id': entity.id}) }}" data-popup="tooltip" title="{{ ('View')|trans}}" data-placement="bottom" ><i class="icon-eye"></i></a>
                {% endif %}
            {% endfor %}

        {% if list.additionalActionsTemplate is defined and list.additionalActionsTemplate %}
            {{ include(list.additionalActionsTemplate, {'entity':entity}) }}
        {% endif %}
    </td>
{% elseif list.isSearchable %}
    <td></td>
{% endif %}