{% extends "IbtikarShareEconomyDashboardDesignBundle:Dashboard:genericDashboard.html.twig" %}


{% block title %}
    {% if list.pageTitle %}
        {{ list.pageTitle|trans({}, list.translationDomain) }}
    {% else %}
        {{ list.className|trans({}, list.translationDomain) }}
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Main content -->
    <div class="content-wrapper{% if enableLargeSidebar %} fixednav{% endif %}">

        {% if enableLargeSidebar %}
        <div class="content">
        {% endif %}
            <!-- Basic button -->
            <div class="content-group">
                <div class="heading-elemnts">
                    <div class="heading-btn-group">
                        {% block globalActions %}
                            {% if list.globalActions.add is defined %}
                                <button class="btn btn-link btn-float has-text dev-btn-add" {% if list.globalActions.add.max is defined and list.globalActions.add.max <= list.totalNumber %}data-max="{{ list.globalActions.add.max }}"{% endif %} data-url="{% if list.globalActions.add.path is defined %}{{path(list.globalActions.add.path)}}{%else %}{{path(list.preFix~'create_'~list.className|lower)}}{% endif %}"><i class="icon-add"></i><span>{{('Add')|trans}} {{list.className|lower|trans({}, list.translationDomain)}}</span></button>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        <!-- /basic button -->

        <!-- Dashboard content -->
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-12">
                        <!-- view roles -->
                        <div class="panel panel-flat">
                            {% block listHeader    %}
                                <div class="panel-heading no-print">
                                    <h5 class="panel-title">{% if list.pageTitle %} {{ list.pageTitle|trans({}, list.translationDomain) }} {% else %} {{ list.className|trans({}, list.translationDomain) }} {% endif %}</h5>
                                    <div class="heading-elements">
                                        {#<span class="label bg-number heading-text">28 دور</span>
                                        <span class="label bg-number heading-text">12338 فعال</span>
                                        <span class="label bg-number heading-text">8973 غير فعال</span>


                                        <ul class="icons-list">
                                            <li><a data-action="collapse"></a></li>
                                            <li><a data-action="reload"></a></li>
                                        </ul>#}
                                    </div>
                                </div>
                            {% endblock listHeader %}
                            {% block listTabs %}{% endblock %}
                            <div class="actions">
                                {% if list.isPrintable %}
                                    <a href="javascript:window.print()" class="btn btn-default btn-sm" data-popup="tooltip" title="" data-placement="bottom" data-original-title="{{ "Print"|trans() }}"><i class=" icon-printer2"></i> <span class="hidden-sm"></span></a>
                                {% endif %}

                                {% if list.bulkActions | length > 0 %}
                                    {% for key, route in list.bulkActions %}
                                        {% if key == 'delete' %}
                                            <a data-type='multipleCheckActionButton' style="display: none" tabindex="0" class="btn btn-default btn-sm" role="button" data-toggle="popover"  data-placement="bottom"  data-popup="popover" data-trigger="focus" title="Your are about to delete bulk of items, are you sure?"
                                               data-html="true" data-content="
                                               <button type='button' class='btn btn-danger' data-type='multipleCheckAcceptAction' data-url='{{ path(route) }}'>{{ ('Yes') | trans }}</button>
                                               <button type='button' class='btn btn-default'>{{ ('Cancel') | trans }}</button>
                                               "> <i class="icon-trash"></i> <span class="hidden-sm position-right">Delete selected</span>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {# add list filters if any #}
                                {% if list_filters is defined and list_filters | length %}
                                    {% for listFilter in list_filters %}
                                        {% if attribute(listFilter, 'getFilterListRoute') is defined %}
                                            <select class="Roleselect" data-type="listAutoCompleteFilter" data-name="{{ listFilter.name }}" data-url="{{ path(listFilter.getFilterListRoute, {"filterName":listFilter.name}) }}" placeholder="{{ listFilter.placeholder }}">
                                                {% if app.request.query.has(listFilter.name) %}
                                                    <option>{{ listFilter.getItemTextById(app.request.query.get(listFilter.name)) }}</option>
                                                {% endif %}
                                            </select>
                                        {% else %}
                                            <select class="Roleselect" data-type="listFilter" data-name="{{ listFilter.name }}">
                                                <option value="">{{ ("All") | trans }}</option>
                                                {% for val, label in listFilter.filterList %}
                                                    <option value="{{ val }}"{% if app.request.query.has(listFilter.name) and app.request.query.get(listFilter.name) == val %}selected="selected"{% endif %}>{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                    {#<button type="button" class="btn btn-default btn-sm" id="pnotify-stack-bottom-left"> Alert</button>

                                    <a class="btn btn-default btn-sm" id='advanced-search-Btn' data-popup="tooltip" title="" data-placement="bottom" data-original-title="بحث"><i class="icon-zoomin3"></i></a>

                                    <a tabindex="0" class="btn btn-default btn-sm" role="button" data-toggle="popover"  data-placement="bottom"  data-popup="popover" data-trigger="focus" title="انت على وشك حذف (@عنوان)، هل تريد إتمام الحذف؟" data-html="true"
                                       data-html="true" data-content="
                                       <button type='button' class='btn btn-danger'>نعم</button>
                                       <button type='button' class='btn btn-default'>الغاء</button>
                                       "> <i class="icon-trash"></i> <span class="hidden-sm position-right">مسح الادوار</span></a>

                                    <button type="button" class="btn btn-default btn-sm" data-popup="tooltip" title=" خانات خانات خانات خانات خانات خانات خانات الجدول" data-placement="bottom" data-toggle="modal" data-target="#modal_theme_primary" ><i class="icon-table2 "></i> <span class="hidden-sm"> </span></button>
                                    <a class="btn btn-default btn-sm"   data-popup="tooltip" title="تصدير" data-placement="bottom" ><i class="icon-database-export"></i> <span class="hidden-sm"></span></a>
                                    <a class="btn btn-default btn-sm"  data-popup="tooltip" title="عرض السجلات المحذوفة " data-placement="bottom" ><i class="icon-eye-blocked"></i> <span class="hidden-sm"></span></a>


                                    <select class="Roleselect">
                                        <option>الكل</option>
                                        <option>فعال</option>
                                        <option>غير فعال</option>
                                    </select>




                                <div class='advanced-search searchhidden'>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>الاسم</label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>الموظف</label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>البريد</label>
                                                <input  class="form-control" type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>المجموعة</label>
                                                <select class="select">

                                                    <option value="HI">role 2</option>
                                                    <option value="CA">role 3</option>
                                                    <option value="NV">role 4</option>
                                                    <option value="WA">role 5</option>
                                                    <option value="AZ">role 6</option>
                                                    <option value="CO">role 7</option>
                                                    <option value="ID">role 8 </option>

                                                </select>
                                            </div>
                                        </div>
                                    </div><!-- row end -->



                                       <div class="row advanced-search-more" style="display: none;">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>	عدد الصلحيات</label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>المجموعة</label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>البريد</label>
                                                <input  class="form-control" type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>المجموعة</label>
                                                <select class="select">

                                                    <option value="HI">role 2</option>
                                                    <option value="CA">role 3</option>
                                                    <option value="NV">role 4</option>
                                                    <option value="WA">role 5</option>
                                                    <option value="AZ">role 6</option>
                                                    <option value="CO">role 7</option>
                                                    <option value="ID">role 8 </option>

                                                </select>
                                            </div>

                                    </div><!-- row end -->

                                       </div>

                                    <div class="row">
                                        <div class="col-xs-12">


                                            <button class="btn btn-primary btn-lg" id="pnotify-progress" type="button">بحث</button>
                                            <button class="btn btn-default  btn-lg" type="button" id="advanced-search-more">بحث مفصل</button>
                                        </div>
                                    </div>
                                </div>#}
                            </div>
                        {% include 'IbtikarShareEconomyDashboardDesignBundle:List:listTemplate.html.twig' %}
                    </div>
                    <!-- /scrollable datatable -->
                </div>
            </div>
        </div><!-- col-lg-9 tabs -->
    </div>
    <!-- /dashboard content -->
    {% if enableLargeSidebar %}
</div>
    {% endif %}
<!-- /main content -->
</div>

{{ form(action_form, {'attr':{'class':'hidden', 'id':'action_form'} }) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/switchery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/switch.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/form_checkboxes_radios.js') }}"></script>
    <!-- /theme JS files -->
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/jquery.easing.min.js') }}"></script>

    <!-- datatable files -->
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/tables/datatables/datatables.min.js') }}"></script>
    {% if app.session.get('_locale') == 'en' %}
        <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/selects/select2.min.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/selects/select2_ar.min.js') }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/datatables_api.js') }}"></script>

    <!-- modals files -->
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/components_modals.js') }}"></script>

    <!-- Drag and drop files -->
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/dragula.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/extension_dnd.js') }}"></script>
    <script>
        var actionsValidationMessages= {
            maximumRecordError: '{{('Maximum number of records achieved')|trans({}, list.translationDomain)}}'
        };
        var limit = {{ list.pagesLimit }};
                var start = {{ list.pagesOffset }};
                var totalNumber = {{ list.totalNumber }};
        var ajaxData = '{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}';
                var columns = {{ list.datatableColumns|raw }};
        var sort ={% if list.sort is defined and list.sort %}{{list.sort|raw}}{% else %} null{%endif %};
        var buttons = document.querySelectorAll('.switchery-primary');
        var listLanguage = {
            search: '<span>{{('search')|trans}}:</span> _INPUT_',
            lengthMenu: '_MENU_',
            sLengthMenu: "{{('show')|trans}} _MENU_ ",
            sInfo: " _START_ - _END_ {{('from')|trans}} _TOTAL_ ",
            sZeroRecords: '{{('No Result Data')|trans}}',
            sInfoEmpty: " 0 - 0 {{('from')|trans}} 0 ",
            paginate: {'first': '{{('first')|trans}}', 'last': '{{('last')|trans}}', 'next': '{{ ('paging_next_arrow') | trans | raw }}', 'previous': '{{ ('paging_previous_arrow') | trans | raw }}'}
        }
        for (var i = 0, buttonsLength = buttons.length; i < buttonsLength; i++) {
            new Switchery(buttons[i], {color: toggleButtonColor});
        }

        // Select2 selects
        $('.Roleselect').select2({
            width: 100
        });


        $(function () {

            // Select2 selects
            $('.select').select2();
        });

        // advanced saerch
        $('#advanced-search-Btn').on('click', function () {
            if ($(".advanced-search").hasClass("searchhidden")) {
                $(".advanced-search").slideDown();
                $(".advanced-search").removeClass('searchhidden');
            } else {
                $(".advanced-search").slideUp();
                $(".advanced-search").addClass('searchhidden');
                $(".advanced-search-more").slideUp();
            }

        });


        // advanced-search-more
        $('#advanced-search-more').on('click', function () {
            if ($(".advanced-search-more").hasClass("searchhidden")) {
                $(".advanced-search-more").slideDown();
                $(".advanced-search-more").removeClass('searchhidden');
            } else {
                $(".advanced-search-more").slideUp();
                $(".advanced-search-more").addClass('searchhidden');
                $(".advanced-search-more").slideUp();
            }
        });

    </script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/dev/ajaxifyList.js') }}"></script>
    <script>
        intializeTable();
    </script>
{% endblock %}
