{% if oneInputSearch %}
    <form class="form-horizontal no-print">
        <div class="col-md-12 searchauto">
            <div class="form-group has-feedback">
                <label class="control-label col-lg-2">{{ ("Search") | trans }}</label>
                <div class="col-lg-10">
                    <input class="form-control" data-name="{{ listOneFieldSearchParam }}" data-type="one-field-search" placeholder="{{ oneInputSearch.inputPlaceHolder|trans({}, list.translationDomain) }}" type="text" value="{{ app.request.query.get(listOneFieldSearchParam, '') }}">
                </div>
            </div>
        </div>
    </form>
{% endif %}

<table class="list-table table table-hover table-striped datatable-column-search-inputs" width="100%">
    <thead>
        {% if list.isSearchable %}
            <tr id="filterrow" class="no-print">
                <th>{% trans %}Search in Fields{% endtrans %}</th>
                    {% for column in list.columns %}

                    {% if column[1].isSearchable is not defined %}
                        {% if column[1].name is defined %}
                            {%set colName = column[1].name %}
                        {% else %}
                            {%set colName = column[0] %}
                        {% endif %}

                        {% if column[1].sort is defined %}
                            {%set searchCol = column[1].sort %}
                        {% elseif column[1].entity is defined %}
                            {%set searchCol = column[1].entity~'.'~column[0] %}
                        {% else %}
                            {%set searchCol = column[0] %}
                        {% endif %}
                        <th class="{% if column[1].autocompelete %}dev-autocompelete{% endif %} {% if column[1].datePickerSearch is defined %}datePickerSearch{% endif%}{% if column[1].selectSearch is defined %}selectSearch{% endif%} {% if column[1].removeDatatableSearch is defined %}notSearchable{% endif %}" data-name="{{searchCol}}">{% if column[1].selectSearch is not defined %}{{ colName|humanize|title|trans({}, list.translationDomain) }}{% endif%}
                            {% if column[1].selectSearch is defined %}
                                <select class="dev-search-input dev-select-search-input filter-select">
                                    <option value=" ">{{('All')|trans()}}</option>
                                    {%for key,search in column[1].selectOptions %}
                                        <option value="{{key}}">{{search|trans({}, list.translationDomain)}}</option>
                                    {% endfor %}
                               </select>
                            {% endif%}
                        </th>
                    {% else %}
                        {% if column[1].sort is defined %}
                            {%set searchCol = column[1].sort %}
                        {% elseif column[1].entity is defined %}
                            {%set searchCol = column[1].entity~'.'~column[0] %}
                        {% else %}
                            {%set searchCol = column[0] %}
                        {% endif %}
                        <th class="{% if column[1].datePickerSearch is defined %}datePickerSearch{% endif%}{% if column[1].selectSearch is defined %}selectSearch{% endif%} notSearchable" data-name="{{searchCol}}">
                            {% if column[1].selectSearch is defined %}
                    <select class="dev-search-input dev-select-search-input filter-select" data-placeholder="Filter">
                        <option value=" ">{{('All')|trans()}}</option>
                        {%for key,search in column[1].selectOptions %}
                            <option value="{{key}}">{{search|trans({}, list.translationDomain)}}</option>
                        {% endfor %}
                    </select>
                {% endif%}
            </th>
        {% endif %}
    {% endfor %}
    <th class='text-right'>
        <button data-popup="tooltip" data-placement="bottom" data-original-title="{{('Search')|trans}}" class="dev-btn-search btn btn-default"><i class="icon-search4"></i></button>
    </th>
</tr>
{% endif %}
<tr>
    {% if list.bulkActions|length > 0 %}
        <th data-name='bulk' class="dev-checkbox-all text-center">
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" class="styled" id="multipleCheckChanger">
                </label>
            </div>
        </th>
    {% elseif list.isSearchable %}
        <th></th>
        {% endif %}
        {% for column in list.columns %}
            {% if column[1].name is defined %}
                {%set colName = column[1].name %}
            {% else %}
                {%set colName = column[0] %}
            {% endif %}

        {% if column[1].isSortable is defined and not column[1].isSortable %}
            {%set isSortable = 'sorting_disabled' %}
        {% else %}
            {%set isSortable = 'sorting' %}
        {% endif %}

        {% if column[1].sort is defined %}
            {%set sortCol = column[1].sort %}
        {% elseif column[1].entity is defined %}
            {%set sortCol = column[1].entity~'.'~column[0] %}
        {% else %}
            {%set sortCol = column[0] %}
        {% endif %}

        <th class="{{isSortable}}" data-name='{{sortCol}}'>{{ colName|humanize|title|trans({}, list.translationDomain) }}</th>
        {% endfor %}
        {% if app.request.get('iframe') != 'true' and (list.actions|length > 0 or (list.additionalActionsTemplate is defined and list.additionalActionsTemplate)) %}
        <th data-name='actions' class="text-center">{{ ('Actions')|trans}}</th>
        {% elseif list.isSearchable %}
        <th></th>
        {% endif %}
</tr>
</thead>
<tbody>
    {% for result in list.pagination %}
        {% if result is iterable %}
            {% set entity = result[0] %}
        {% else %}
            {% set entity = result %}
        {% endif %}
        <tr{% for listRowDataParameter, parameterGetter in list.listRowDataParameters %} data-{{ listRowDataParameter }}="{{ attribute(entity, parameterGetter)|escape('html_attr') }}"{% endfor %}{% if entity.id is defined %} data-id="{{ entity.id }}"{% endif %}{% if list.isClickableRow %} data-clickable="{{ path(list.clickableRowRouteName ? list.clickableRowRouteName : list.className|lower~'_details', {id:entity.id}) }}"{% endif %}>
            {{ include('IbtikarShareEconomyDashboardDesignBundle:List:_listCheckBox.html.twig', {'entity': entity}) }}

            {% for column in list.columns %}
                <td {% if column[1].class is defined %}class="{{ column[1].class }}"{% endif %}>
                    {% if column[1].index is defined %}
                        {% set value = attribute(result, column[1].index) %}
                    {% elseif column[1].method is defined %}
                        {% set value = attribute(entity, column[1].method) %}
                    {% else %}
                        {% set value = attribute(entity, column[0]) %}
                    {% endif %}

                    {% if column[1].translate is defined and column[1].translate %}
                        {% set value = value|trans({}, list.translationDomain) %}
                    {% endif %}

                    {% if column[1].type is defined and column[1].type != 'text' %}
                        {% if column[1].type == 'date' %}
                            {{ value|date(list.defaultDateFormat) }}
                        {% elseif column[1].type == 'bool' %}
                            {% if attribute(entity, column[0]) %}
                                {{'true'|trans}}
                            {% else %}
                                {{'false'|trans}}
                            {% endif %}
                        {% elseif column[1].type == 'image' %}
                            {% if attribute(entity, column[1].image) != '' and attribute(entity, column[1].image) is not null %}
                                <div class="media-left media-middle">
                                    <img src="{{ asset(attribute(entity, column[1].image)) }}" class="img-circle img-lg" alt="">
                                </div>
                            {% else %}
                                <div class="media-left media-middle">
                                    <img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/profile.jpg') }}" class="img-circle img-lg" alt="">
                                </div>
                            {% endif %}
                        {% endif %}
                    {% elseif column[1].ishtml is defined and column[1].ishtml %}
                        {{ value|raw }}
                    {% else %}
                        {% if value|length > 50 %}
                            {{ value|slice(0, 50) }}
                        {% elseif column[1].selectSearch is defined %}
                            {{ value|trans({}, list.translationDomain) }}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    {% endif %}
                </td>
            {% endfor %}
{#            {% if list.actions|length > 0 or (list.additionalActionsTemplate is defined and list.additionalActionsTemplate) %}#}
                {{ include('IbtikarShareEconomyDashboardDesignBundle:List:_listActions.html.twig', {'entity': entity}) }}
{#            {% elseif list.isSearchable %}#}
{#                <td></td>#}
{#            {% endif %}#}
        </tr>
    {% endfor %}
</tbody>
</table>