{% extends "form_div_layout.html.twig" %}

{%- block form_row -%}
    <div class="form-group has-feedback{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {%- if type is defined and type == 'file' and attr['data-image-type'] is defined -%}
        <div class="col-lg-12">
        {%- endif -%}
        {%- if type is not defined or type not in ['file', 'hidden'] -%}
        <div class="col-lg-10">
        {%- endif -%}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
        {%- if type is not defined or type not in ['file', 'hidden'] or type == 'file' and attr['data-image-type'] is defined -%}
        </div>
        {%- endif -%}
    </div>
{%- endblock form_row -%}


{%- block form_start -%}
    {% set attr = attr|merge({'novalidate': '','autocomplete':"off", 'class': (attr.class|default('form-horizontal'))}) %}
    {{- parent() -}}
{%- endblock form_start -%}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('control-label col-lg-2'))}) %}
    {%- endif -%}
    {{- parent() -}}
{%- endblock form_label -%}

{% block form_widget_simple -%}
    {# adding bootstrap class #}
    {%- if type is not defined or type not in ['file', 'hidden'] -%}
        {%- set attr = attr|merge({class: (attr.class|default('form-control'))}) -%}
    {%- endif -%}

    {# adding profile file upload input style #}
    {%- if type is defined and type == 'file' and attr['data-image-type'] is defined and attr['data-image-type'] == 'profile' -%}
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                <img src="{{ asset(attr['data-image-url']|default('bundles/ibtikarshareeconomydashboarddesign/images/profile.jpg')) }}" alt="{{ attr['data-image-alt']|default('Profile image'|trans) }}">
            </div>
            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 200px; line-height: 20px;"></div>
            <div  class="marginTop-20">
                <span class="btn btn-default btn-file btn-primary" style=" cursor: pointer;">
                    <span class="fileupload-new" onfocus="myFunction(this)" style="cursor: pointer">{% trans %}Choose picture{% endtrans %}</span>
                    <span class="fileupload-exists">{% trans %}Change{% endtrans %}</span>
    {%- endif -%}

    {# displaying the widget #}
    {{- parent() -}}

    {# adding profile file upload input style #}
    {%- if type is defined and type == 'file' and attr['data-image-type'] is defined and attr['data-image-type'] == 'profile' -%}
                </span>
                <a href="#" class="btn btn-default fileupload-exists btn-primary" data-dismiss="fileupload">{% trans %}Delete{% endtrans %}</a>
            </div>
        </div>
    {%- endif -%}

    {# adding email input style #}
    {%- if type is defined and type == 'email' -%}
        <div class="form-control-feedback">
            <i class="icon-mail5 text-muted"></i>
        </div>
    {%- endif -%}
    {% if attr['data-rule-unique'] is defined %}
        <div class="form-control-feedback dev-inputLoader dev-loader" style="display: none;">
            <i class="icon-spinner2 spinner"></i>
        </div>
        <div class="form-control-feedback dev-failLoader dev-loader" style="{% if form.vars.errors|length ==0 %}display: none;{%endif %}">
            <i class="icon-cancel-circle2"></i>
        </div>
        <div class="form-control-feedback dev-successLoader dev-loader" style="display: none;">
            <i class="icon-checkmark-circle"></i>
        </div>
    {% endif %}
{%- endblock form_widget_simple %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- if not form.parent -%}
            <div class="row">
                <div class="col-md-12">
        {%- endif -%}
        {%- for error in errors -%}
            {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger no-border"><button data-dismiss="alert" class="close" type="button"><span>×</span><span class="sr-only">{% trans %}Close{% endtrans %}</span></button>{% endif %}{{ error.message }}{% if form.parent %}</span>{% else %}</div>{% endif %}
        {%- endfor -%}
        {%- if not form.parent -%}
                </div>
            </div>
        {%- endif -%}
    {%- endif %}
{%- endblock form_errors %}

{% block button_row -%}
    <noscript>
        <div class="form-group">
            {{- form_widget(form) -}}
        </div>
    </noscript>
{%- endblock button_row %}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn btn-primary btn-block'))|trim}) %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}<i class="{{ attr['icon']|default('icon-circle-left2') }} position-right"></i>
    </button>
{%- endblock %}


{%- block textarea_widget -%}
<textarea {{ block('widget_attributes') }} cols="5" rows="5" class="form-control">{{ value }}</textarea>
{%- endblock textarea_widget -%}