{% extends "IbtikarShareEconomyDashboardDesignBundle::defined_variables.html.twig" %}

{% block page %}
    <!DOCTYPE html>
    <html lang="{{ locale }}" dir="{{ locale in rtlLocales ? 'rtl' : 'ltr' }}">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{% block title %}{% trans %}Welcome to your dashboard{% endtrans %}{% endblock %}</title>
            <!-- Favicons AND TOUCH ICONS   -->
            <link rel="icon" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/favicon.ico') }}">
            <link rel="apple-touch-icon" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/apple-touch-icon.png') }}">
            <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/apple-touch-icon-76x76.png') }}">
            <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/apple-touch-icon-120x120.png') }}">
            <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/apple-touch-icon-152x152.png') }}">
            {% block stylesheets %}
                <!-- Global stylesheets -->
                {% set cssSubDir = locale in rtlLocales ? '' : 'en/' %}
                <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/' ~ cssSubDir ~ 'bootstrap.css') }}" rel="stylesheet" type="text/css">
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/' ~ cssSubDir ~ 'core.css') }}" rel="stylesheet" type="text/css">
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/' ~ cssSubDir ~ 'components.css') }}" rel="stylesheet" type="text/css">
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/colors.css') }}" rel="stylesheet" type="text/css">
                <!-- /global stylesheets -->

                <!-- Date and Time Plugin Css-->
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css">
                <!-- file upload Plugin CSS -->
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/fileupload/bootstrap-fileupload.css') }}" rel="stylesheet" type="text/css">

                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/' ~ cssSubDir ~ 'custom.css') }}" rel="stylesheet" type="text/css">
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/' ~ currentTheme ~ '.css') }}" rel="stylesheet" type="text/css">

                {% if enableLargeSidebar %}
                <style>
                    .page-container{
                        padding: 0px;
                    }
                    @media (min-width: 769px){
                        .navbar-top {
                            padding-top: 60px;
                        }
                    }
                    @media (min-width: 769px){
                        .sidebar {
                            width: 260px;
                            padding-left: 0px;
                        }
                    }
                    .sidebar-content{
                        border-radius: 0px;
                    }

                    .content {
                        padding: 0 20px 60px 20px;
                    }

                    @media (min-width: 769px) {
                        .sidebar-fixed .sidebar-content {
                            position: fixed;
                            width: 260px;
                            max-height: 100%;
                            overflow: auto;
                            top: 60px;
                            bottom: 48px;
                            margin-bottom: -48px;
                        }
                        .sidebar-xs .sidebar-fixed.sidebar-main .sidebar-content {
                            width: 56px;
                        }
                        .sidebar-fixed.sidebar-default .sidebar-content {
                            width: 259px;
                        }
                        .sidebar-fixed-expanded .sidebar-fixed.sidebar-main {
                            position: fixed;
                            display: block;
                            height: 100%;
                            z-index: 1001;
                        }
                        .sidebar-fixed-expanded .sidebar-fixed.sidebar-main .sidebar-content {
                            position: fixed;
                        }
                        .sidebar-xs .sidebar-fixed-expanded .sidebar-fixed.sidebar-main {
                            width: 260px;
                        }

                    }

                    .navbar-header {
                        min-width: 250px;
                    }
                    @media (min-width: 769px){
                        .sidebar-xs .sidebar-main {
                            width: 56px;
                        }
                    }

                </style>
                {% endif %}

            {% endblock %}
        </head>

        <body{% if enableLargeSidebar %} class="navbar-top"{% endif %}>
            {% block pageContent %}
            {% endblock %}

            {% block javascripts %}
            <div id="modal_theme_primary" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!-- Core JS files -->
            <script>var layoutIsLeftDirection = {{ locale in rtlLocales ? 'false' : 'true' }}</script>
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/iframe-resizer/iframeResizer.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/loaders/pace.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/libraries/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/libraries/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/loaders/blockui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/nicescroll.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/drilldown.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/date/moment.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/date/bootstrap-datetimepicker.min.js') }}"></script>
            <!-- /core JS files -->

            <!-- alerts messages -->
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/notifications/pnotify.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/components_notifications_pnotify.js') }}"></script>
            {% if enableLargeSidebar %}
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/layout_fixed_custom.js') }}"></script>
            {% endif %}
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/jquery.easing.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/dev/base.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/app.js') }}"></script>

            <script>
                $(document).ready(function () {
                {% for type, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                            showNotificationMsg('', '{{ flash }}', '{{ type }}');
                    {% endfor %}
                {% endfor %}
                    });
            </script>
            <script>
                var availableMessage = '{% trans %}valid{% endtrans %}';
                var unAvailableMessage = '{% trans %}not valid{% endtrans %}';
                iFrameResize();
            </script>
            {% endblock %}
        </body>
    </html>
{% endblock %}