{% extends "IbtikarShareEconomyDashboardDesignBundle::defined_variables.html.twig" %}

{% block page %}
<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ locale in rtlLocales ? 'rtl' : 'ltr' }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% trans %}Welcome to your dashboard{% endtrans %}{% endblock %}</title>
        <!-- Favicons AND TOUCH ICONS   -->
        <link rel="icon" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/apple-touch-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/apple-touch-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/apple-touch-icon-152x152.png') }}">
        {% block stylesheets %}
        <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/core.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/components.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/colors.css') }}" rel="stylesheet" type="text/css">
        <!-- /global stylesheets -->
        <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/custom.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/' ~ currentTheme ~ '.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>

    <body>
        {% block header %}
        <!-- Main navbar -->
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('ibtikar_share_economy_dashboard_design_dashboard_home') }}"><img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/logo-1.png') }}" alt=""></a>

                <ul class="nav navbar-nav visible-xs-block">
                    <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                    <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
                </ul>
            </div>

            <div class="navbar-collapse collapse" id="navbar-mobile">
                {#
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-git-compare"></i>
                            <span class="visible-xs-inline-block position-right">Git updates</span>
                            <span class="badge badge-primary">9</span>
                        </a>

                        <div class="dropdown-menu dropdown-content">
                            <div class="dropdown-content-heading">
                                Git updates
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-sync"></i></a></li>
                                </ul>
                            </div>

                            <ul class="media-list dropdown-content-body width-350">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                        <div class="media-annotation">4 minutes ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Add full font overrides for popovers and tooltips
                                        <div class="media-annotation">36 minutes ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
                                        <div class="media-annotation">2 hours ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
                                        <div class="media-annotation">Dec 18, 18:36</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Have Carousel ignore keyboard events
                                        <div class="media-annotation">Dec 12, 05:46</div>
                                    </div>
                                </li>
                            </ul>

                            <div class="dropdown-content-footer">
                                <a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
                #}

                <ul class="nav navbar-nav navbar-right">
                    {% if supportedLocales|length > 1 %}
                    <li class="language-switch">
                            {% for supportedLocale in supportedLocales if locale != supportedLocale %}
                                {% set localeLanguage = supportedLocale == 'en' ? 'English' : supportedLocale == 'ar' ? 'عربي' : '' %}
                                {% set localeFlag = supportedLocale == 'en' ? 'gb' : supportedLocale == 'ar' ? 'sa' : '' %}

                        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all())|merge({'_locale': supportedLocale})) }}">
                            <img alt="{{ localeLanguage }}" class="position-left" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/flags/' ~ localeFlag ~ '.png') }}">
                            {{ localeLanguage }}
                        </a>
                            {% endfor %}
                    </li>
                    {% endif %}

                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            {% if app.user.image %}
                            <img src="{{ asset(app.user.getWebPath()) }}" alt="{{ app.user }}">
                            {% endif %}
                            <span>{{ app.user }}</span>
                            <i class="caret"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{{ path('ibtikar_share_economy_ums_edit_my_account') }}"><i class="icon-user-plus"></i>{% trans %}Profile{% endtrans %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('ibtikar_share_economy_ums_logout') }}"><i class="icon-switch2"></i>{% trans %}Logout{% endtrans %}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        {% endblock %}
        <!-- /main navbar -->
        {% block navbar %}

        <!-- Second navbar -->
        <div class="navbar navbar-default" id="navbar-second">
            <ul class="nav navbar-nav no-border visible-xs-block">
                <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
            </ul>

            <div class="navbar-collapse collapse" id="navbar-second-toggle">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('ibtikar_share_economy_dashboard_design_dashboard_home') }}"><i class="icon-display4 position-left"></i>{% trans %}Dashboard{% endtrans %}</a></li>

                    {#
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-make-group position-left"></i> الاستوديو <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu width-250">
                            <li class="dropdown-header">المنيو ٢</li>
                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-task"></i> المنيو </a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">الاختيارات</li>
                                    <li><a href="task_manager_grid.html">المنيو</a></li>
                                    <li><a href="task_manager_list.html">المنيو</a></li>
                                    <li><a href="task_manager_detailed.html">المنيو</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-cash3"></i> المنيو ٣</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">المنيو</li>
                                    <li><a href="invoice_template.html">المنيو</a></li>
                                    <li><a href="invoice_grid.html">المنيو</a></li>
                                    <li><a href="#">المنيو</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-header">المنيو ٣</li>
                            <li class="dropdown-submenu">
                                <a href="#"><i class="icon-people"></i> المنيو</a>
                                <ul class="dropdown-menu width-200">
                                    <li class="dropdown-header highlight">المنيو</li>
                                    <li><a href="user_pages_cards.html">المنيو</a></li>
                                    <li><a href="user_pages_list.html">المنيو</a></li>
                                    <li class="dropdown-header highlight">المنيو</li>
                                    <li><a href="user_pages_profile.html">المنيو</a></li>
                                    <li><a href="user_pages_profile_cover.html">المنيو</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    #}
                </ul>
            </div>
        </div>
        <!-- /second navbar -->
        {% endblock %}

        <!-- Page container -->
        <div class="page-container">
            <!-- Page content -->
            <div class="page-content">
                {% block side_menu %}{% endblock %}
                {% block body %}{% endblock %}
                {% block form_buttons %}{% endblock %}
            </div>
            <!-- /page content -->
        </div>
        <!-- /page container -->

        {% block javascripts %}
        <!-- Core JS files -->
        <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/loaders/pace.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/libraries/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/libraries/bootstrap.min.js') }}"></script>
        <!-- /core JS files -->
        {% endblock %}
    </body>
</html>
{% endblock %}