{% extends "IbtikarShareEconomyDashboardDesignBundle:Layout:base.html.twig" %}

{% block pageContent %}
    {% block header %}
        <!-- Main navbar -->
        <div class="navbar navbar-inverse{% if enableLargeSidebar %} navbar-fixed-top{% endif %}">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('ibtikar_share_economy_dashboard_design_dashboard_home') }}"><img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/logo-1.png') }}" alt=""></a>

                <ul class="nav navbar-nav visible-xs-block">
                    <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                            {#                            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>#}
                </ul>
            </div>

            <div class="navbar-collapse collapse" id="navbar-mobile">
                {% if enableLargeSidebar %}
                    <ul class="nav navbar-nav">
                        <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
                    </ul>
                {% endif %}

                {% block headerNotification %}
                {% endblock headerNotification %}

                <ul class="nav navbar-nav navbar-right">

                    <input type="hidden" id="returnOrderRoute" class="returnOrderRoute" name="returnOrderRoute" value="{{ path('order_returned_list') }}">
                    <input type="hidden" id="returnOrderTitle" class="returnOrderTitle" name="returnOrderTitle" value="{% trans from 'order' %}Returned Orders{% endtrans %}">
                    <input type="hidden" id="currentOrderRoute" class="currentOrderRoute" name="currentOrderRoute" value="{{  app.request.attributes.get('_route') }}">

                    <li{% if app.request.attributes.get('_route') in ['order_returned_list'] %} class="active"{% endif %}><a href="{{ path('order_returned_list') }}"><span>{% trans from 'order' %}Returned Orders{% endtrans %}</span> : <span class="get-today-returned-orders-count"></span></a></li>

                    {% if supportedLocales|length > 1 %}
                        <li class="language-switch">
                            {% for supportedLocale in supportedLocales if locale != supportedLocale %}
                                {% set localeLanguage = supportedLocale == 'en' ? 'English' : supportedLocale == 'ar' ? 'عربي' : '' %}
                                {% set localeFlag = supportedLocale == 'en' ? 'gb' : supportedLocale == 'ar' ? 'sa' : '' %}

                                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all())|merge({'_locale': supportedLocale})) }}">
                                    <img alt="{{ localeLanguage }}" class="position-left" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/flags/' ~ localeFlag ~ '.png') }}">
                                    {{ localeLanguage }}
                                </a>
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if app.user %}
                        <li class="dropdown dropdown-user">
                            <a class="dropdown-toggle" data-toggle="dropdown">

                                {% if app.user.image %}
                                    <img src="{{ asset(app.user.getWebPath()) }}" alt="{{ app.user }}">
                                {% endif %}
                                <span>{{ app.user }}</span>
                                <i class="caret"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="{{ path('ibtikar_share_economy_ums_edit_my_account') }}"><i class="icon-user-plus"></i>{% trans %}Profile{% endtrans %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('ibtikar_share_economy_ums_logout') }}"><i class="icon-switch2"></i>{% trans %}Logout{% endtrans %}</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}
    <!-- /main navbar -->
    {% block navbar %}
        {% if not enableLargeSidebar %}
            <!-- Second navbar -->
            <div class="navbar navbar-default" id="navbar-second">
                <ul class="nav navbar-nav no-border visible-xs-block">
                    <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
                </ul>

                <div class="navbar-collapse collapse" id="navbar-second-toggle">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('ibtikar_share_economy_dashboard_design_dashboard_home') }}"><i class="icon-display4 position-left"></i>{% trans %}Dashboard{% endtrans %}</a></li>
                        {% endif %}
                        {% block nav_bar_menu %}
                            {% if not enableLargeSidebar %}
                                {{ render(controller('IbtikarShareEconomyDashboardDesignBundle:NavBar:getNavBarAdditionalLinks')) }}
                            {% endif %}
                        {% endblock %}
                        {% if not enableLargeSidebar %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <!-- /second navbar -->
    {% endblock%}

    <!-- Page container -->
    <div class="page-container dev-panel-flat">
        <!-- Page content -->
        <div class="page-content">
            {% block side_menu %}{% endblock %}
            {% block body %}{% endblock %}
            {% block form_buttons %}{% endblock %}
        </div>
    </div>
{% endblock %}