{% extends "IbtikarShareEconomyDashboardDesignBundle::defined_variables.html.twig" %}

{% block page %}
    <!DOCTYPE html>
    <html lang="{{ locale }}" dir="{{ locale in rtlLocales ? 'rtl' : 'ltr' }}">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{% block title %}{% trans %}Welcome to your dashboard{% endtrans %}{% endblock %}</title>
            <!-- Favicons AND TOUCH ICONS   -->
            <link rel="icon" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/favicon.ico') }}">
            <link rel="apple-touch-icon" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/apple-touch-icon.png') }}">
            <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/apple-touch-icon-76x76.png') }}">
            <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/apple-touch-icon-120x120.png') }}">
            <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/apple-touch-icon-152x152.png') }}">
            {% block stylesheets %}
                <!-- Global stylesheets -->
                <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/core.css') }}" rel="stylesheet" type="text/css">
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/components.css') }}" rel="stylesheet" type="text/css">
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/colors.css') }}" rel="stylesheet" type="text/css">
                <!-- /global stylesheets -->

                <!-- Date and Time Plugin Css-->
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css">
                <!-- file upload Plugin CSS -->
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/fileupload/bootstrap-fileupload.css') }}" rel="stylesheet" type="text/css">

                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/custom.css') }}" rel="stylesheet" type="text/css">
                <link href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/' ~ currentTheme ~ '.css') }}" rel="stylesheet" type="text/css">
            {% endblock %}
        </head>

        <body>
            {% block header %}
                <!-- Main navbar -->
                <div class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('ibtikar_share_economy_dashboard_design_dashboard_home') }}"><img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/' ~ currentTheme ~ '/logo-1.png') }}" alt=""></a>

                        <ul class="nav navbar-nav visible-xs-block">
                            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
                        </ul>
                    </div>

                    <div class="navbar-collapse collapse" id="navbar-mobile">
                        {% block headerNotification %}
                        {% endblock headerNotification %}

                        <ul class="nav navbar-nav navbar-right">
                            {% if supportedLocales|length > 1 %}
                                <li class="language-switch">
                                    {% for supportedLocale in supportedLocales if locale != supportedLocale %}
                                        {% set localeLanguage = supportedLocale == 'en' ? 'English' : supportedLocale == 'ar' ? 'عربي' : '' %}
                                        {% set localeFlag = supportedLocale == 'en' ? 'gb' : supportedLocale == 'ar' ? 'sa' : '' %}

                                        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all())|merge({'_locale': supportedLocale})) }}">
                                            <img alt="{{ localeLanguage }}" class="position-left" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/flags/' ~ localeFlag ~ '.png') }}">
                                            {{ localeLanguage }}
                                        </a>
                                    {% endfor %}
                                </li>
                            {% endif %}

                            <li class="dropdown dropdown-user">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    {% if app.user.image %}
                                        <img src="{{ asset(app.user.getWebPath()) }}" alt="{{ app.user }}">
                                    {% endif %}
                                    <span>{{ app.user }}</span>
                                    <i class="caret"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{{ path('ibtikar_share_economy_ums_edit_my_account') }}"><i class="icon-user-plus"></i>{% trans %}Profile{% endtrans %}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('ibtikar_share_economy_ums_logout') }}"><i class="icon-switch2"></i>{% trans %}Logout{% endtrans %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endblock %}
            <!-- /main navbar -->
            {% block navbar %}

                <!-- Second navbar -->
                <div class="navbar navbar-default" id="navbar-second">
                    <ul class="nav navbar-nav no-border visible-xs-block">
                        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
                    </ul>

                    <div class="navbar-collapse collapse" id="navbar-second-toggle">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('ibtikar_share_economy_dashboard_design_dashboard_home') }}"><i class="icon-display4 position-left"></i>{% trans %}Dashboard{% endtrans %}</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-make-group position-left"></i> {% trans %}Main menu{% endtrans %} <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu width-250">
                                    {% block main_menu %}
                                        <li><a href='{{path('ibtikar_share_economy_ums_list_users')}}'>{% trans from 'baseuser' %}User{% endtrans %}</a></li>
                                        {% endblock %}
                                        {#<li class="dropdown-submenu">
                                            <a href="#"><i class="icon-task"></i> المنيو </a>
                                            <ul class="dropdown-menu width-200">
                                                <li class="dropdown-header highlight">الاختيارات</li>
                                                <li><a href="task_manager_grid.html">المنيو</a></li>
                                                <li><a href="task_manager_list.html">المنيو</a></li>
                                                <li><a href="task_manager_detailed.html">المنيو</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="#"><i class="icon-cash3"></i> المنيو ٣</a>
                                            <ul class="dropdown-menu width-200">
                                                <li class="dropdown-header highlight">المنيو</li>
                                                <li><a href="invoice_template.html">المنيو</a></li>
                                                <li><a href="invoice_grid.html">المنيو</a></li>
                                                <li><a href="#">المنيو</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-header">المنيو ٣</li>
                                        <li class="dropdown-submenu">
                                            <a href="#"><i class="icon-people"></i> المنيو</a>
                                            <ul class="dropdown-menu width-200">
                                                <li class="dropdown-header highlight">المنيو</li>
                                                <li><a href="user_pages_cards.html">المنيو</a></li>
                                                <li><a href="user_pages_list.html">المنيو</a></li>
                                                <li class="dropdown-header highlight">المنيو</li>
                                                <li><a href="user_pages_profile.html">المنيو</a></li>
                                                <li><a href="user_pages_profile_cover.html">المنيو</a></li>
                                            </ul>
                                        </li>#}
                                </ul>
                            </li>
                            {% block extra_menu %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
                <!-- /second navbar -->
            {% endblock %}

            <!-- Page container -->
            <div class="page-container">
                <!-- Page content -->
                <div class="page-content">
                {% block side_menu %}{% endblock %}
            {% block body %}{% endblock %}
        {% block form_buttons %}{% endblock %}
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->

{% block javascripts %}
    <div id="modal_theme_primary" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <!-- Core JS files -->
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/loaders/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/libraries/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/loaders/blockui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/nicescroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/drilldown.js') }}"></script>
    <!-- /core JS files -->

    <!-- alerts messages -->
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/notifications/pnotify.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/components_notifications_pnotify.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/app.js') }}"></script>
{% endblock %}
</body>
</html>
{% endblock %}